.navbar {
    background-color: rgb(132, 205, 184);
}

h1 {
    font-family: 'Prompt', sans-serif;
    color: #304346;
}

#firstSection {
    background-color: rgb(132, 205, 184);
    text-align: center;

}

#firstSection h1 {
    font-size: 4rem;

}

.boyImg {
    width: 16rem;
    clip-path: circle(60.0% at 30% 71%);
}

.girlImg {
    clip-path: circle(46.9% at 95% 50%);
    width: 20rem;

}

table {
    width: 100%;
    border: 1px solid rgba(86, 117, 113, 0.805);
}

table td {
    border: 1px solid rgba(86, 117, 113, 0.805);
}


/* --------------------------------------------------- */
/* 

#student_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}
#student_card div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(47, 47, 120, 0.745);
  padding: 0.5rem;
  border: 1px solid #050505;
  border-radius: 0.5rem;
}
#student_card div img{
    width: 100px;
    height: 100px;
  }

ul {
    list-style-type: none;
 }

@media (max-width: 1000px) {
    .inputs{
       flex-direction: column;
    } 
  

    input{
        width: 70%;
        height: 10%;
        margin-bottom: 5px;
        }
         input,select{
        width: 71%;
        height: 10%;
        margin-bottom: 5px;
        }


     
        #student_card{
          
            grid-template-columns: repeat(2,1fr);
        
        }
       

      
} */